@media (max-width: 760px) {
    body {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    p {
        padding-left: 0;
        padding-right: 0;
    }
    h1, h2, h3 {
        width: 100%;
    }
    ul {
    	padding-left: 20px;
    	padding-right: 0;
    }
    li pre {
    	margin-left: -20px;
    	padding-left: 10px;
    }
    pre {
    	margin-right: 0;
    	padding-left: 10px;
    }
    pre code {
    	white-space: pre;
    	overflow-x: scroll;
    }
    p img{
    	padding-left: 0;
    }
    .table {
    	display: block;
    	overflow-x: auto;
    	min-width: 100%;
    	margin: 0 0 0 0;
    }
    div.figure img {
    	padding: 0 0 0 0;
    }
    div.figure p.caption {
    	padding-left: 0;
    	padding-right: 0;
    }
    .MathJax_Display {
    	padding: 0 0 0 0;
    }
}