.margin-toggle {
    display: none;
}

@media screen and (max-width: 991px) {
    body {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    p {
        padding-left: 0;
        padding-right: 0;
    }
    h1, h2, h3, h4, h5, h6 {
    	width: 100%;
    	padding-left: 0;
    	text-indent: 0;
    }
    ul {
    	padding-left: 20px;
    	padding-right: 0;
    }
    li pre {
    	margin-left: -20px;
    	padding-left: 10px;
    }
    pre {
    	margin-right: 0;
    	padding-left: 10px;
    }
    pre code {
    	white-space: pre;
    	overflow-x: scroll;
    }
    p img{
    	padding-left: 0;
    }
    .horizontal-scroll {
    	overflow-x: auto;
    }
    .table {
    	min-width: 100%;
    	margin: 0 0 0 0;
    }
    div.figure img {
    	padding: 0 0 0 0;
    }
    div.figure p.caption {
    	padding-left: 0;
    	padding-right: 0;
    }
    .sidenote {
        float: unset;
        margin-top: 1rem;
        margin-right: 0;
        margin-left: 10%;
        width: 80%;
        font-size: 8pt;
        line-height: 1.3;
        text-align: left;
        display: none;
    }
    .sidenote-number{
        display: none;
    }
    .margin-toggle {
        display: inline;
        position: relative;
    	vertical-align: super;
    	font-size: 7.5pt;
    	font-weight: normal;
    	font-style: normal;
    	line-height: normal;
    	color: #337ab7;
    }
}

@media screen and (max-width: 767px) {
    #TOC {
    	display: none;
    }
}